.wraper{
    position:relative;
    display:inline-block;
  }
  .popover{
    border:1px solid black;
    position:absolute;
    top:0;
    left:100%;
    white-space:nowrap;
    margin-left:10px;
    padding:10px;
    background:white;
    display:none;
    
  }
  .popover::after{
    position:absolute;
    right:100%;
    top:5px;
    border:10px solid transparent;
    border-right-color:white;
    content:''; 
    margin-right:-1px;
  }
  .popover::before{
    position:absolute;
    right:100%;
    top:5px;
    border:10px solid transparent;
    border-right-color:black;
    content:'';
  }