body,div,ul,li,p{margin:0;padding:0;}
ul{list-style-type:none;}
#nav{
    position:relative;
    width:910px;
    margin:10px auto;
    background:grey;
    border-radius: 10px;
}
#nav ul{
    height:36px;
    line-height:36px;
    margin-left:23px;
    padding-right:10px;
}
#nav ul li{
    float:left;
    width:110px;
    margin-left:-2px;
}
#nav ul li a{
    font-size:14px;
    color:#fff;
    width:102px;
    display:block;
    text-align:center;
    text-decoration:none;
    margin:0 2px 0 4px;
}
#nav ul li a:hover{
    color:black;
    background:#ccc;
    border-radius: 5px;
}
#nav .subnav{
    display:none;
    position:absolute;
    top:41px;
    width:auto!important;
    min-width:110px;
    height:27px;
    line-height:27px;
    white-space:nowrap;
    background:#ccc;
    border-radius: 3px;
    background-position:0 -180px;
}
#nav .subnav p{
    margin-left:10px;
    padding-right:10px;
    background-position:right -234px;
}
#nav .subnav p span{
    display:block;
    color:#235e99;
    background-repeat:repeat-x;
    background-position:0 -207px;
}
#nav .subnav p a{
    font-size:12px;
    display:inline;
    color:#235e99;
    text-decoration:none;
    margin:0 5px;
    padding:0 2px;
}
#nav .subnav p a:hover{
    color:black;
}
#nav .subnav .arrow{
    position:absolute;
    top:-4px;
    display:block;
    width:11px;
    height:5px;
    background-position:0 -261px;
}
